.track-card{
    background-color: green;
}

body{
    background-color: red;
}

input {
    display: block;
    margin-bottom: 10px;
}

.modal{
    position: relative;
}

.previous-results{
    background-color: pink;
    color: white;
}

.previous-results{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }

.kind{
}

.one{
    background-color: blue;
    color: white;
}

.two{
    background-color: green;
}
.three{
    background-color: red;
}

.four{
    background-color: greenyellow;
}